@use "../global/variables";

.additional-product {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);

    width: 100%;
    height: 1px;

    background-color: variables.$special-grey-lighter;
  }

  &:first-of-type::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;

    transform: translateX(-50%);

    width: 100%;
    height: 1px;

    background-color: variables.$special-grey-lighter;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 25px 38px 29px 38px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 15px 0 17px 0;

    display: flex;
  }
}

.additional-product__description {
  @media (min-width: variables.$tablet-width) {
    margin: 0 0 21px 0;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 5px 0;
    padding: 10px 0 0 0;

    justify-content: flex-start;
  }
}

.additional-product__link {
  display: inline-block;

  margin: 0 0 10px 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: variables.$special-dark-grey-darker;

  @media (min-width: variables.$tablet-width) {
    margin: 0;

    width: 100%;

    font-size: 20px;
    line-height: 20px;

    &:hover {
      opacity: 0.6;
    }
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 80px 0 0;

    width: 245px;
  }

  &:active {
    opacity: 0.3;
  }
}

.additional-product__data-sheet {
  margin: 0 0 14px 0;

  width: 100%;

  @media (min-width: variables.$tablet-width) {
    margin: 0;
  }

  @media (min-width: variables.$desktop-width) {
    width: auto;
  }
}

.additional-product__data-row {
  display: flex;
  justify-content: space-between;

  width: 100%;

  @media (min-width: variables.$tablet-width) {
    justify-content: flex-end;
  }

  @media (min-width: variables.$desktop-width) {
    justify-content: flex-start;
  }
}

.additional-product__data {
  padding: 0;

  font-size: 14px;
  line-height: 14px;
  color: variables.$special-dark-grey;

  @media (min-width: variables.$tablet-width) {
    margin: 0 10px 0 0;

    min-width: 90px;

    font-size: 16px;
    line-height: 20px;

    text-align: right;

    &:nth-of-type(2n) {
      margin: 0;
    }
  }

  @media (min-width: variables.$desktop-width) {
    min-width: unset;
    width: 70px;

    text-align: start;

    &:first-of-type {
      margin: 0 12px 0 0;

      width: 230px;
    }

    &:nth-of-type(2n) {
      margin: 0 10px 0 0;
    }
  }
}

.additional-products-catalog__special-offer {
  margin: 0 0 35px 0;
}

.additional-product__button {
  @media (min-width: variables.$desktop-width) {
    min-width: unset;
    width: 245px;
  }
}
