@use "../global/variables";

.additional-products-catalog {
  margin: 0 0 35px 0;

  @media (min-width: variables.$tablet-width) {
    margin: 0 0 75px 0;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 87px 0;
  }
}

.additional-products-catalog__wrapper {
  padding: 0 20px 0 20px;
  margin: 0 auto 35px auto;

  box-sizing: border-box;

  @media (min-width: variables.$tablet-width) {
    padding: 0 30px 0 30px;
    margin: 0 auto 70px auto;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 110px 0 110px;
    margin: 0 auto 0 auto;

    width: 1440px;
  }
}

.additional-products-catalog__heading {
  margin: 25px 0 36px 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: variables.$black;

  @media (min-width: variables.$tablet-width) {
    margin: 0 0 80px 40px;

    font-size: 36px;
    line-height: 36px;
    color: variables.$black;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 80px 0;
  }
}

.additional-products-catalog__content-wrapper {
  @media (min-width: variables.$desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additional-products-catalog__list {
  margin: 0 0 35px 0;

  @media (min-width: variables.$tablet-width) {
    margin: 0 0 70px 0;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0;
  }
}
