@use "../global/variables";

.advantages {
  margin: 0 0 49px 0;

  position: relative;

  @media (min-width: variables.$tablet-width) {
    margin: 0 0 104px 0;

    &::before {
      content: "";
      position: absolute;

      bottom: -104px;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: variables.$decoration-grey;
    }
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 126px 0;

    &::before {
      display: none;
    }
  }
}

.advantages__wrapper {
  padding: 0 20px 0 20px;
  margin: 0 auto;

  box-sizing: border-box;

  @media (min-width: variables.$tablet-width) {
    padding: 0 30px 0 30px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 110px 0 110px;

    width: 1440px;
  }
}

.advantages__heading {
  margin: 0 0 40px 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: variables.$black;

  @media (min-width: variables.$tablet-width) {
    margin: 0 0 32px 0;

    font-size: 60px;
    line-height: 60px;
    color: variables.$black;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: 50%;
  }
}

.advantages__list {
  margin: 0 auto;
  padding: 0;

  list-style-type: none;

  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @media (min-width: variables.$tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 94px;
    column-gap: 139px;

    width: 708px;

    counter-reset: advantages;
  }

  @media (min-width: variables.$desktop-width) {
    column-gap: 80px;

    width: unset;
  }
}

.advantages__item {
  padding: 0 0 0 80px;

  position: relative;

  &::after {
    content: "";
    position: absolute;

    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-repeat: no-repeat;
  }

  &--vitamins {
    &::after {
      background-image: url("../img/svg/icon-leaf-mobile.svg");
    }
  }

  &--instant {
    &::after {
      background-image: url("../img/svg/icon-instant-mobile.svg");
    }
  }

  &--food {
    &::after {
      background-image: url("../img/svg/icon-food-mobile.svg");
    }
  }

  &--scales {
    br {
      display: none;
    }

    &::after {
      background-image: url("../img/svg/icon-scales-mobile.svg");
    }
  }

  @media (min-width: variables.$tablet-width) {
    padding: 151px 0 0 0;
    width: 245px;

    &::before {
      counter-increment: advantages;
      content: counter(advantages);

      position: absolute;
      top: 0;
      left: 115px;

      font-family: "Oswald", "Arial", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      color: variables.$basic-grey;

      z-index: -1;
    }

    &::after {
      top: 40px;

      width: 80px;
      height: 80px;
    }

    &--vitamins {
      &::after {
        background-image: url("../img/svg/icon-leaf-tablet.svg");
      }
    }

    &--instant {
      &::after {
        background-image: url("../img/svg/icon-instant-tablet.svg");
      }
    }

    &--food {
      &::after {
        background-image: url("../img/svg/icon-food-tablet.svg");
      }
    }

    &--scales {
      br {
        display: initial;
      }

      &::after {
        background-image: url("../img/svg/icon-scales-tablet.svg");
      }
    }
  }
}

.advantages__item-description {
  margin: 0;
  padding: 2px 0 0 0;
  min-height: 58px;

  @media (min-width: variables.$tablet-width) {
    padding: 0;
  }
}
