@use "../global/variables";

.advantages {
  margin: 0 0 49px 0;
}

.advantages__wrapper {
  padding: 0 20px 0 20px;
  margin: 0 auto;
}

.advantages__heading {
  margin: 0 0 40px 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: variables.$black;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.advantages__item {
  padding: 0 0 0 80px;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    background-color: variables.$basic-green;
    width: 60px;
    height: 60px;
  }
}

.advantages__item-description {
  margin: 0;
  padding: 2px 0 0 0;
  min-height: 58px;
}
