@use "../global/variables";

.application-form__wrapper {
  @media (min-width: variables.$tablet-width) {
    margin: 0 40px 65px 40px;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 70px 0;

    display: flex;
    column-gap: 80px;
    flex-grow: 1;
    justify-content: flex-start;
  }
}

.application-form__button-wrapper {
  @media (min-width: variables.$tablet-width) {
    margin: 0 40px 60px 40px;

    display: flex;
    column-gap: 60px;

    width: auto;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 auto 80px auto;

    column-gap: 80px;
  }
}

.application-form__button {
  margin: 0 0 21px 0;

  @media (min-width: variables.$tablet-width) {
    margin: 0;
  }
}

.application-form__note {
  margin: 0 0 32px 0;

  line-height: 16px;
  color: variables.$black;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    margin: 15px 0 0 0;

    width: calc(50% - 30px);

    text-align: left;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 17px 0 0 0;

    width: calc(50% - 40px);
  }
}
