@use "../global/variables";

.card {
  padding: 30px 20px 18px 20px;
  box-sizing: border-box;

  background-color: variables.$basic-grey;

  position: relative;

  @media (min-width: variables.$tablet-width) {
    padding: 77px 316px 53px 52px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 77px 61px 55px 52px;
  }
}

.card__heading {
  margin: 0 0 29px 0;
  padding: 0 0 0 70px;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: variables.$black;

  @media (min-width: variables.$tablet-width) {
    margin: 0 0 24px 0;
    padding: 0;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 73px 0;
    padding: 0 0 0 214px;
  }
}

.card__description {
  margin: 0 0 38px 0;

  @media (min-width: variables.$tablet-width) {
    margin: 0 0 48px 0;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 23px 0;
  }
}

.card__link {
  position: relative;

  display: inline-block;

  padding: 4px 56px 4px 0;
  box-sizing: border-box;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: variables.$black;

  @media (min-width: variables.$tablet-width) {
    padding: 4px 57px 4px 0;

    font-size: 20px;
    line-height: normal;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 4px 61px 4px 0;
  }
}
