@use "../global/variables";

.card {
  padding: 30px 20px 18px 20px;
  box-sizing: border-box;

  background-color: variables.$basic-grey;

  position: relative;

  @media (min-width: variables.$tablet-width) {
    padding: 77px 316px 53px 52px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 77px 61px 55px 52px;

    width: calc(50% - 40px);
  }

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }

  &--slim {
    &::before {
      top: 21px;
      left: 20px;

      width: 50px;
      height: 53px;

      background-image: url("../img/svg/card-slim-mobile.svg");

      @media (min-width: variables.$tablet-width) {
        top: 81px;
        left: unset;
        right: 63px;

        width: 200px;
        height: 211px;

        background-image: url("../img/svg/card-slim-tablet.svg");
      }

      @media (min-width: variables.$desktop-width) {
        top: 41px;
        left: 52px;
        right: unset;

        width: 100px;
        height: 106px;

        background-image: url("../img/svg/card-slim-desktop.svg");
      }
    }
  }

  &--pro {
    &::before {
      top: 24px;
      left: 13px;

      width: 67px;
      height: 50px;

      background-image: url("../img/svg/card-pro-mobile.svg");

      @media (min-width: variables.$tablet-width) {
        top: 91px;
        left: unset;
        right: 29px;

        width: 268px;
        height: 200px;

        background-image: url("../img/svg/card-pro-tablet.svg");
      }

      @media (min-width: variables.$desktop-width) {
        top: 47px;
        left: 33px;
        right: unset;

        width: 134px;
        height: 100px;

        background-image: url("../img/svg/card-pro-desktop.svg");
      }
    }
  }
}

.card__heading {
  margin: 0 0 29px 0;
  padding: 0 0 0 70px;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: variables.$black;

  @media (min-width: variables.$tablet-width) {
    margin: 0 0 24px 0;
    padding: 0;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 73px 0;
    padding: 0 0 0 162px;
  }
}

.card__description {
  margin: 0 0 38px 0;

  @media (min-width: variables.$tablet-width) {
    margin: 0 0 48px 0;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 23px 0;
  }
}

.card__link {
  position: relative;

  display: inline-block;

  padding: 4px 47px 4px 0;
  box-sizing: border-box;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: variables.$black;

  transition: opacity 0.3s ease;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 4px 57px 4px 0;

    font-size: 20px;
    line-height: normal;

    &:hover {
      &::before {
        transform: translate(0, -50%);
      }
    }
  }

  @media (min-width: variables.$desktop-width) {
    padding: 4px 61px 4px 0;
  }

  &::before {
    content: "";
    position: absolute;

    top: 50%;
    right: 0;

    width: 32px;
    height: 10px;

    transform: translate(-7px, -50%);

    background-image: url("../img/svg/icon-arrow-mobile.svg");
    background-repeat: no-repeat;

    transition: transform 0.3s ease;
  }

  &::after {
    content: "";
    position: absolute;

    top: 50%;
    right: 32px;

    width: 8px;
    height: 20px;

    transform: translateY(-50%);

    background-color: variables.$basic-grey;
  }
}
