@use "../global/variables";

.client-contacts {
  padding: 0;
  margin: 0 0 24px 0;

  border: none;

  @media (min-width: variables.$tablet-width) {
    margin: 0 40px 65px 40px;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 70px 0;
  }
}

.client-contacts__heading {
  margin: 0 0 35px 0;
  padding: 0 calc(100% - 187px) 0 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: variables.$black;

  position: relative;

  &::before {
    content: "";
    position: absolute;

    top: 17px;
    right: -20px;

    width: calc(100% - 186px);
    height: 2px;

    background-color: variables.$basic-green;
  }

  @media (min-width: variables.$tablet-width) {
    margin: 0 0 76px 0;
    padding: 0;

    font-size: 36px;
    line-height: 36px;

    &::before {
      top: 21px;
      right: -70px;

      width: calc(100% - 482px);
    }

    &::after {
      content: "";
      position: absolute;

      top: 21px;
      left: -70px;

      width: 30px;
      height: 2px;

      background-color: variables.$basic-green;
    }
  }

  @media (min-width: variables.$desktop-width) {
    &::before {
      right: -110px;

      width: calc(100% - 442px);
    }

    &::after {
      left: -110px;

      width: 70px;
    }
  }
}

.client-contacts__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 14px;

  @media (min-width: variables.$tablet-width) {
    row-gap: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    flex-direction: row;
    column-gap: 80px;
    flex-grow: 1;
    justify-content: flex-start;
  }
}

.client-contacts__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: variables.$special-dark-grey;

  display: flex;
  flex-wrap: wrap;

  row-gap: 10px;

  position: relative;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: normal;
  }

  @media (min-width: variables.$desktop-width) {
    width: 100%;
  }
}

.client-contacts__input-description {
  margin: 0 13px 0 0;
  padding: 13px 0 0 0;

  width: max-content;
  max-width: 100%;

  @media (min-width: variables.$tablet-width) {
    padding: 10px 0 0 0;
  }
}

.client-contacts__input-cell {
  padding: 0 15px 0 15px;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: variables.$special-dark-grey;

  min-width: 70%;
  max-width: 100%;
  flex-grow: 1;
  height: 45px;

  border: 1px solid variables.$decoration-grey-darker;
  box-sizing: border-box;

  transition: border 0.3s ease;

  @media (min-width: variables.$tablet-width) {
    padding: 0 20px 0 20px;

    height: 52px;

    font-size: 20px;
    line-height: normal;

    &:hover {
      border: 1px solid variables.$special-grey;
    }
  }

  &:focus-visible {
    border: 1px solid variables.$special-dark-grey;
    outline: 1px solid variables.$special-dark-grey;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.client-contacts__input-decoration {
  position: absolute;

  top: 50%;
  left: calc(100% - 32px);

  width: 20px;
  height: 20px;

  transform: translateY(-50%);

  mask-repeat: no-repeat;
  background-color: variables.$black;

  &--email {
    mask: url("../img/svg/email-icon.svg");
  }

  &--phone {
    mask: url("../img/svg/phone-icon.svg");
  }

  @media (min-width: variables.$tablet-width) {
    right: 14px;
  }

  @media (min-width: variables.$desktop-width) {
    right: 16px;
  }
}

.client-contacts__input-cell:focus-visible + .client-contacts__input-decoration {
  background-color: variables.$basic-green;
}

.client-contacts__input-cell:disabled + .client-contacts__input-decoration {
  opacity: 0.3;
}

.application-form__input-error + .client-contacts__input-decoration {
  background-color: variables.$status-error;
}
