@use "../global/variables";

.contacts {
  background-color: variables.$basic-grey;

  position: relative;

  &--index {
    background-color: variables.$white;
  }
}

.contacts__wrapper {
  padding: 26px 20px 26px 20px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  column-gap: 10px;

  @media (min-width: variables.$tablet-width) {
    padding: 61px 70px 61px 70px;

    column-gap: 308px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 61px 73px 60px 80px;

    position: absolute;
    top: 95px;
    left: 110px;

    width: 565px;

    justify-content: center;
    column-gap: 85px;

    background-color: variables.$white;

    box-sizing: border-box;

    z-index: 2;
  }
}

.contacts__slogan {
  margin: 0;

  min-width: 130px;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: variables.$black-lighter;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 26px;

    min-width: 165px;
  }
}

.contacts__description {
  min-width: 130px;

  font-style: normal;
  line-height: 20px;

  @media (min-width: variables.$tablet-width) {
    min-width: 157px;

    display: inline-flex;
    flex-direction: column;
    row-gap: 20px;

    text-align: right;
  }

  @media (min-width: variables.$desktop-width) {
    text-align: left;
  }
}
