@use "../global/variables";

.main-header {
  display: flex;
  justify-content: space-between;

  padding: 13px 20px 14px 20px;

  position: relative;

  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: variables.$decoration-grey-lighter;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 28px 30px 25px 30px;

    &::before {
      display: none;
    }
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 auto;
    padding: 58px 110px 56px 110px;

    width: 1440px;

    z-index: 2;

    &--index {
      margin: 0 auto 604px auto;
    }
  }
}

.main-header__text-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 101px;
  height: 18px;

  overflow: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}
