@use "../global/variables.scss";

.main-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  min-height: 40px;
  width: 100%;

  background-color: variables.$basic-green;

  color: variables.$white;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}
