@use "../global/variables";

.main-footer {
  background-color: variables.$basic-grey;
}

.main-footer__wrapper {
  padding: 40px 20px 40px 20px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  row-gap: 40px;

  box-sizing: border-box;

  @media (min-width: variables.$tablet-width) {
    padding: 55px 30px 55px 30px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 66px 110px 66px 110px;

    width: 1440px;
  }
}

.main-footer__logo {
  display: block;

  align-self: center;
}

.main-footer__social-list {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;

    left: 0;

    width: 100%;
    height: 1px;

    background-color: variables.$decoration-grey-lighter;
  }

  &::before {
    bottom: -20px;
  }

  &::after {
    content: "";
    top: -20px;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 6.5px 0 0 0;

    &::before,
    &::after {
      display: none;
    }
  }

  @media (min-width: variables.$tablet-width) {
    justify-content: center;
  }
}

.main-footer__copyright-link {
  display: inline-flex;
  justify-self: flex-start;

  padding: 7px 49px 7px 0;

  font-size: 16px;
  line-height: 20px;
  color: variables.$special-dark-grey;
  text-decoration: none;

  box-sizing: border-box;

  position: relative;

  transition: opacity 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: 27px;
    height: 34px;

    mask: url("../img/svg/academy-logo.svg");
    mask-repeat: no-repeat;

    background-color: variables.$special-grey-darker;

    transition: background-color 0.3s ease;
  }

  @media (min-width: variables.$tablet-width) {
    justify-self: flex-end;

    &:hover,
    &:focus-visible {
      &::before {
        background-color: variables.$basic-green;
      }
    }
  }

  &:active {
    opacity: 0.3;

    &::before {
      background-color: variables.$basic-green;
    }
  }
}
