@use "../global/variables";

.products-list {
  display: flex;
  flex-direction: column;

  padding: 0;

  list-style-type: none;

  @media (min-width: variables.$tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;

    width: 708px;
  }

  @media (min-width: variables.$desktop-width) {
    column-gap: 80px;
    row-gap: 63px;

    width: unset;
  }
}
