@use "../global/variables";

.program-addons {
  padding: 0;
  margin: 0 0 35px 0;

  border: none;

  @media (min-width: variables.$tablet-width) {
    margin: 0 40px 54px 40px;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 61px 0;
  }
}

.program-addons__heading {
  margin: 0 0 35px 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: variables.$black;

  position: relative;

  &::before {
    content: "";
    position: absolute;

    top: 16px;
    right: -20px;

    width: calc(100% - 140px);
    height: 2px;

    background-color: variables.$basic-green;
  }

  @media (min-width: variables.$tablet-width) {
    margin: 0 0 57px 0;

    font-size: 36px;
    line-height: 36px;

    &::before {
      top: 24px;
      right: -70px;

      width: calc(100% - 182px);
    }

    &::after {
      content: "";
      position: absolute;

      top: 24px;
      left: -70px;

      width: 30px;
      height: 2px;

      background-color: variables.$basic-green;
    }
  }

  @media (min-width: variables.$desktop-width) {
    &::before {
      right: -110px;

      width: calc(100% - 142px);
    }

    &::after {
      left: -110px;

      width: 70px;
    }
  }
}

.program-addons__list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  row-gap: 12px;

  list-style-type: none;

  @media (min-width: variables.$tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 60px;
  }

  @media (min-width: variables.$desktop-width) {
    column-gap: 80px;
  }
}

.program-addons__item {
  position: relative;

  @media (min-width: variables.$tablet-width) {
    width: calc(50% - 30px);
  }

  @media (min-width: variables.$desktop-width) {
    width: calc(25% - 60px);
  }
}

.program-addons__description-wrapper {
  cursor: pointer;
}

.program-addons__description {
  display: inline-block;

  padding: 6px 0 6px 45px;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: variables.$special-dark-grey;

  @media (min-width: variables.$tablet-width) {
    padding: 5px 0 5px 60px;

    font-size: 20px;
    line-height: normal;
  }
}

.program-addons__decoration {
  position: absolute;

  top: 0;
  left: 0;

  width: 30px;
  height: 30px;

  border: solid 1px variables.$special-grey;
  box-sizing: border-box;

  @media (min-width: variables.$tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.program-addons__input:checked ~ .program-addons__decoration::before {
  content: "";
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 26px;
  height: 26px;

  background-image: url("../img/svg/tick-mobile.svg");
  background-repeat: no-repeat;
  box-sizing: border-box;

  @media (min-width: variables.$tablet-width) {
    background-image: url("../img/svg/tick-tablet.svg");
  }
}

.program-addons__input:hover ~ .program-addons__decoration {
  @media (min-width: variables.$tablet-width) {
    border-color: variables.$special-dark-grey-lighter;
  }
}

.program-addons__input:focus-visible ~ .program-addons__decoration {
  @media (min-width: variables.$tablet-width) {
    outline: solid 2px variables.$special-grey;
  }
}

.program-addons__input:disabled ~ .program-addons__description,
.program-addons__input:disabled ~ .program-addons__decoration {
  opacity: 0.3;
}
