@use "../global/variables";

.slider {
  margin: 0 auto;

  max-width: 420px;

  @media (min-width: variables.$tablet-width) {
    max-width: 1000px;
    height: auto;
  }

  @media (min-width: variables.$desktop-width) {
    width: 560px;
  }
}

.slider__list {
  padding: 0;

  list-style-type: none;

  display: flex;
  justify-content: center;
  flex-grow: 1;

  width: 100%;
}

.slider__item {
  width: 50%;

  overflow: hidden;

  position: relative;
}

.slider__item img {
  width: 200%;
}

.slider__item--slim-cat img {
  transform: translateX(-50%);
}

.slider__handle {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 4px;
  height: 100%;

  background-color: unset;
  color: variables.$special-grey-darker;

  border: none;

  cursor: pointer;

  transition: color 0.3s ease;

  &::before {
    content: "";
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 4px;
    height: 100%;

    background-color: variables.$special-grey-darker;

    border-radius: 2px;

    transition: background-color 0.3s ease;
  }

  @media (min-width: variables.$tablet-width) {
    &:hover {
      color: variables.$basic-green;

      &::before {
        background-color: variables.$basic-green;
      }
    }
  }

  &:active {
    color: rgba(variables.$basic-green-darker, 0.6);

    &::before {
      background-color: rgba(variables.$basic-green-darker, 0.6);
    }
  }
}

.slider__thumb {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 40px;
  height: 40px;
}
