@use "../global/variables";

.social-list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  width: 100%;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 10px;
}

.social-list__link {
  display: flex;

  width: 28px;
  height: 22px;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 28px;
    height: 22px;

    mask-repeat: no-repeat;
    background-color: variables.$special-grey-darker;

    transition: background-color 0.3s ease;
  }

  &--vkontakte {
    &::before {
      mask: url("../img/svg/vkontakte.svg");
    }
  }

  &--youtube {
    &::before {
      mask: url("../img/svg/youtube.svg");
    }
  }

  &--telegram {
    &::before {
      mask: url("../img/svg/telegram.svg");
    }
  }

  &:hover,
  &:focus-visible {
    &::before {
      background-color: variables.$basic-green;
    }
  }

  &:active {
    &::before {
      background-color: rgba(variables.$basic-green, 0.3);
    }
  }
}
