@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../fonts/oswald/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.page {
  height: 100%;
}

.page__body {
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}
@media (min-width: 768px) {
  .page__body {
    font-size: 16px;
    line-height: 24px;
  }
}

.main-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 44px 8px 44px;
  min-height: 40px;
  min-width: 100%;
  background-color: #68b738;
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .main-button {
    padding: 10px 26px 10px 26px;
    font-size: 16px;
    line-height: 20px;
  }
}

.secondary-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  width: 100%;
  background-color: #f2f2f2;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .secondary-button {
    font-size: 16px;
    line-height: 20px;
  }
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 13px 20px 14px 20px;
  position: relative;
}
@media (min-width: 768px) {
  .main-header {
    padding: 25px 30px 25px 30px;
  }
}
@media (min-width: 1440px) {
  .main-header {
    padding: 56px 110px 56px 110px;
  }
}

.main-header__text-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .main-header__text-logo {
    display: none;
  }
}

.main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 38px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .main-logo {
    width: 174px;
    height: 50px;
  }
}
@media (min-width: 1440px) {
  .main-logo {
    width: 202px;
    height: 59px;
  }
}

.main-navigation__wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
@media (min-width: 768px) {
  .main-navigation__wrapper {
    position: initial;
    margin: 14px 0 0 0;
  }
}
@media (min-width: 1440px) {
  .main-navigation__wrapper {
    margin: 16px 0 0 0;
  }
}

@media (min-width: 768px) {
  .main-navigation__toggle {
    display: none;
  }
}

.site-list {
  display: none;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.site-list--active {
  display: flex;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-direction: row;
    column-gap: 33px;
    row-gap: 10px;
  }
}

.site-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 65px;
  background-color: #ffffff;
  position: relative;
}
.site-list__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
}
@media (min-width: 768px) {
  .site-list__item {
    min-height: unset;
  }
  .site-list__item::before {
    display: none;
  }
}

.site-list__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.hero {
  position: relative;
  margin: 0 0 20px 0;
  background-color: rgba(104, 183, 56, 0.85);
}
@media (min-width: 768px) {
  .hero {
    background-color: unset;
  }
}

.hero__wrapper {
  padding: 0 20px 0 20px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .hero__wrapper {
    padding: 0 30px 0 30px;
  }
}
@media (min-width: 1440px) {
  .hero__wrapper {
    padding: 0 110px 0 110px;
  }
}

.hero__heading {
  margin: 0 0 25px 0;
  padding: 27px 0 0 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .hero__heading {
    padding: 40px 0 0 0;
    margin: 0 0 40px 90px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: unset;
  }
}
@media (min-width: 1440px) {
  .hero__heading {
    padding: 64px 0 0 0;
    margin: 0 0 40px 79px;
  }
}

.hero__slogan {
  margin: 0 0 302px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 768px) {
  .hero__slogan {
    margin: 0 0 50px 90px;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: unset;
  }
}
@media (min-width: 1440px) {
  .hero__slogan {
    margin: 0 0 52px 79px;
  }
}

@media (min-width: 768px) {
  .hero__link {
    margin: 0 0 526px 90px;
    min-width: 244px;
  }
}
@media (min-width: 1440px) {
  .hero__link {
    margin: 0 0 183px 79px;
    min-width: 244px;
  }
}

.promo-cards {
  margin: 0 0 20px 0;
}
@media (min-width: 768px) {
  .promo-cards {
    margin: 0 0 45px 0;
  }
}
@media (min-width: 1440px) {
  .promo-cards {
    margin: 0 0 71px 0;
  }
}

.promo-cards__wrapper {
  padding: 0 20px 0 20px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .promo-cards__wrapper {
    padding: 0 30px 0 30px;
  }
}
@media (min-width: 1440px) {
  .promo-cards__wrapper {
    padding: 0 110px 0 110px;
  }
}

.promo-cards__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media (min-width: 768px) {
  .promo-cards__list {
    row-gap: 30px;
  }
}
@media (min-width: 1440px) {
  .promo-cards__list {
    flex-direction: row;
    column-gap: 80px;
  }
}

.card {
  padding: 30px 20px 18px 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  position: relative;
}
@media (min-width: 768px) {
  .card {
    padding: 77px 316px 53px 52px;
  }
}
@media (min-width: 1440px) {
  .card {
    padding: 77px 61px 55px 52px;
  }
}

.card__heading {
  margin: 0 0 29px 0;
  padding: 0 0 0 70px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .card__heading {
    margin: 0 0 24px 0;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .card__heading {
    margin: 0 0 73px 0;
    padding: 0 0 0 214px;
  }
}

.card__description {
  margin: 0 0 38px 0;
}
@media (min-width: 768px) {
  .card__description {
    margin: 0 0 48px 0;
  }
}
@media (min-width: 1440px) {
  .card__description {
    margin: 0 0 23px 0;
  }
}

.card__link {
  position: relative;
  display: inline-block;
  padding: 4px 56px 4px 0;
  box-sizing: border-box;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
@media (min-width: 768px) {
  .card__link {
    padding: 4px 57px 4px 0;
    font-size: 20px;
    line-height: normal;
  }
}
@media (min-width: 1440px) {
  .card__link {
    padding: 4px 61px 4px 0;
  }
}

.advantages {
  margin: 0 0 49px 0;
}
@media (min-width: 768px) {
  .advantages {
    margin: 0 0 47px 0;
  }
}
@media (min-width: 1440px) {
  .advantages {
    margin: 0 0 69px 0;
  }
}

.advantages__wrapper {
  padding: 0 20px 0 20px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .advantages__wrapper {
    padding: 0 30px 0 30px;
  }
}
@media (min-width: 1440px) {
  .advantages__wrapper {
    padding: 0 110px 0 110px;
  }
}

.advantages__heading {
  margin: 0 0 40px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}
@media (min-width: 768px) {
  .advantages__heading {
    margin: 0 0 32px 0;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media (min-width: 768px) {
  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 37px;
  }
}

.advantages__item {
  padding: 0 0 0 80px;
  position: relative;
}
.advantages__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #68b738;
  width: 60px;
  height: 60px;
}
@media (min-width: 768px) {
  .advantages__item {
    padding: 151px 0 0 0;
    max-width: 250px;
  }
}

.advantages__item-description {
  margin: 0;
  padding: 2px 0 0 0;
  min-height: 58px;
}

.example {
  background-color: #eaeaea;
}

.example__wrapper {
  padding: 25px 20px 40px 20px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .example__wrapper {
    padding: 45px 30px 101px 30px;
  }
}
@media (min-width: 1440px) {
  .example__wrapper {
    padding: 0 110px 75px 110px;
  }
}

.example__heading {
  margin: 0 0 40px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}
@media (min-width: 768px) {
  .example__heading {
    margin: 0 0 60px 0;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
}
@media (min-width: 1440px) {
  .example__heading {
    margin: 0 0 146px 0;
  }
}

@media (min-width: 1440px) {
  .example__inner-wrapper {
    display: flex;
  }
}

.example__description {
  margin: 0 0 20px 0;
}
@media (min-width: 768px) {
  .example__description {
    margin: 0 0 55px 0;
  }
}
@media (min-width: 1440px) {
  .example__description {
    margin: 0 0 69px 0;
    width: 436px;
  }
}

@media (min-width: 768px) {
  .example__results-wrapper {
    margin: 0 auto;
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    max-width: 800px;
  }
}
@media (min-width: 1440px) {
  .example__results-wrapper {
    margin: 0;
    flex-direction: column;
  }
}

.example__results {
  margin: 0 0 34px 0;
  padding: 0;
  justify-content: center;
}
@media (min-width: 768px) {
  .example__results {
    margin: 0 0 99px 0;
  }
}
@media (min-width: 1440px) {
  .example__results {
    margin: 0 0 60px 0;
    justify-content: flex-start;
  }
}

.example__cost {
  margin: 0 0 20px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .example__cost {
    margin: 11px 0 0 0;
    display: inline-flex;
    flex-direction: column;
    row-gap: 9px;
    width: 175px;
    font-size: 20px;
    text-align: right;
  }
}
@media (min-width: 1440px) {
  .example__cost {
    margin: 0;
    flex-direction: row;
    column-gap: 63px;
    width: auto;
    text-align: left;
  }
}

.example__slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.results-list {
  list-style-type: none;
  display: flex;
  column-gap: 32px;
  row-gap: 20px;
}

.results-list__item {
  position: relative;
  display: flex;
  min-width: 124px;
  min-height: 56px;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .results-list__item {
    min-width: 162px;
    min-height: 72px;
  }
}

.results-list__count {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .results-list__count {
    font-size: 30px;
    line-height: 37px;
  }
}

.results-list__description {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 77px;
  height: auto;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}
@media (min-width: 768px) {
  .results-list__description {
    width: 125px;
    font-size: 14px;
    line-height: 14px;
  }
}

.contacts {
  background-color: #f2f2f2;
  position: relative;
}
.contacts--index {
  background-color: #ffffff;
}

.contacts__wrapper {
  padding: 26px 20px 26px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    padding: 61px 70px 61px 70px;
    column-gap: 308px;
  }
}
@media (min-width: 1440px) {
  .contacts__wrapper {
    padding: 61px 78px 60px 80px;
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    justify-content: center;
    column-gap: 87px;
    background-color: #ffffff;
    box-sizing: border-box;
  }
}

.contacts__slogan {
  margin: 0;
  min-width: 130px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .contacts__slogan {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__description {
  min-width: 130px;
  font-style: normal;
  line-height: 20px;
}
@media (min-width: 768px) {
  .contacts__description {
    min-width: 157px;
    display: inline-flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: right;
  }
}
@media (min-width: 1440px) {
  .contacts__description {
    text-align: left;
  }
}

.contacts__map {
  background-image: url("../img/jpg/map.jpg");
  background-size: contain;
}

.map-widget {
  border: none;
  width: 100%;
  min-height: 362px;
}
@media (min-width: 768px) {
  .map-widget {
    min-height: 400px;
  }
}

.main-footer {
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  padding: 40px 20px 40px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    padding: 55px 30px 55px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
  }
}
@media (min-width: 1440px) {
  .main-footer__wrapper {
    padding: 66px 110px 66px 110px;
  }
}

.main-footer__logo {
  display: block;
  align-self: center;
}
@media (min-width: 768px) {
  .main-footer__logo {
    padding: 6.5px 0 0 0;
  }
}

.main-footer__social-list {
  align-self: center;
}
@media (min-width: 768px) {
  .main-footer__social-list {
    justify-content: center;
  }
}

.main-footer__copyright-link {
  display: inline-flex;
  justify-self: flex-start;
  padding: 7px 49px 7px 0;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
  box-sizing: border-box;
  position: relative;
}
.main-footer__copyright-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 27px;
  height: 34px;
  -webkit-mask: url("../../img/svg/academy-logo.svg");
          mask: url("../../img/svg/academy-logo.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: #666666;
}
@media (min-width: 768px) {
  .main-footer__copyright-link {
    justify-self: flex-end;
  }
}

.additional-logo {
  width: 101px;
  height: 18px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .additional-logo {
    width: 128px;
    height: 24px;
  }
}

.social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 10px;
}

.social-list__link {
  display: flex;
  width: 28px;
  height: 22px;
  position: relative;
}
.social-list__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28px;
  height: 22px;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: #666666;
}
.social-list__link--vkontakte::before {
  -webkit-mask: url("../../img/svg/vkontakte.svg");
          mask: url("../../img/svg/vkontakte.svg");
}
.social-list__link--youtube::before {
  -webkit-mask: url("../../img/svg/youtube.svg");
          mask: url("../../img/svg/youtube.svg");
}
.social-list__link--telegram::before {
  -webkit-mask: url("../../img/svg/telegram.svg");
          mask: url("../../img/svg/telegram.svg");
}

@media (min-width: 768px) {
  .catalog {
    margin: 0 0 70px 0;
  }
}
@media (min-width: 1440px) {
  .catalog {
    margin: 0 0 76px 0;
  }
}

.catalog__wrapper {
  padding: 0 20px 0 20px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .catalog__wrapper {
    padding: 0 30px 0 30px;
  }
}
@media (min-width: 1440px) {
  .catalog__wrapper {
    padding: 0 110px 0 110px;
  }
}

.catalog__heading {
  margin: 27px 0 41px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
@media (min-width: 768px) {
  .catalog__heading {
    margin: 40px 0 84px 0;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
}
@media (min-width: 1440px) {
  .catalog__heading {
    margin: 19px 0 84px 0;
  }
}

.products-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .products-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
  }
}
@media (min-width: 1440px) {
  .products-list {
    column-gap: 80px;
    row-gap: 63px;
  }
}

.main-product {
  padding: 18px 0 25px 0;
  box-sizing: border-box;
  position: relative;
}
.main-product::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 40px);
  height: 1px;
  background-color: #ebebeb;
}
.main-product:first-of-type::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 40px);
  height: 1px;
  background-color: #ebebeb;
}
@media (min-width: 768px) {
  .main-product {
    padding: 0;
    width: 324px;
  }
  .main-product::before, .main-product::after {
    display: none;
  }
}
@media (min-width: 1440px) {
  .main-product {
    padding: 0 0 40px 0;
    width: 245px;
  }
}

.main-product__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 0 13px 0;
}
@media (min-width: 768px) {
  .main-product__wrapper {
    margin: 0 0 32px 0;
    padding: 0 37px 0 37px;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    row-gap: 22px;
    box-sizing: border-box;
  }
}
@media (min-width: 1440px) {
  .main-product__wrapper {
    padding: 0 38px 0 38px;
    width: 245px;
    row-gap: 12px;
    box-sizing: border-box;
  }
}

.main-product__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 112px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .main-product__image-wrapper {
    width: 100%;
    height: auto;
  }
}

.main-product__description {
  justify-content: start;
}
@media (min-width: 768px) {
  .main-product__description {
    margin: 0 auto;
  }
}

.main-product__link {
  display: block;
  margin: 0 0 18px 0;
  width: 76px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
}
@media (min-width: 768px) {
  .main-product__link {
    width: 135px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.main-product__data-sheet {
  width: 100%;
}

.main-product__data-sheet-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-product__data {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .main-product__data {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 768px) {
  .main-product__button-wrapper {
    padding: 0 37px 0 37px;
  }
}
@media (min-width: 1440px) {
  .main-product__button-wrapper {
    padding: 0 38px 0 38px;
  }
}

.show-more-products {
  padding: 78px 0 25px 0;
  position: relative;
}
.show-more-products::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background-image: url("../../img/svg/plus.svg");
  background-repeat: no-repeat;
}
.show-more-products::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 40px);
  height: 1px;
  background-color: #ebebeb;
}
@media (min-width: 768px) {
  .show-more-products {
    padding: 160px 37px 40px 37px;
    width: 324px;
    box-sizing: border-box;
  }
  .show-more-products::before {
    top: 50px;
    width: 60px;
    height: 60px;
    background-size: contain;
  }
  .show-more-products::after {
    display: none;
  }
}
@media (min-width: 1440px) {
  .show-more-products {
    padding: 150px 38px 40px 38px;
    width: 245px;
  }
}

.show-more-products__heading {
  margin: 0 0 8px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #111111;
}
@media (min-width: 768px) {
  .show-more-products__heading {
    margin: 0 auto 23px auto;
    width: 135px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.show-more-products__description {
  margin: 0 0 21px 0;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
@media (min-width: 768px) {
  .show-more-products__description {
    margin: 0 auto 82px auto;
    width: 170px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
}

.additional-products-catalog {
  margin: 0 0 35px 0;
}
@media (min-width: 768px) {
  .additional-products-catalog {
    margin: 0 0 75px 0;
  }
}
@media (min-width: 1440px) {
  .additional-products-catalog {
    margin: 0 0 87px 0;
  }
}

.additional-products-catalog__wrapper {
  padding: 0 20px 0 20px;
  margin: 0 auto 35px auto;
}
@media (min-width: 768px) {
  .additional-products-catalog__wrapper {
    padding: 0 30px 0 30px;
    margin: 0 auto 70px auto;
  }
}
@media (min-width: 1440px) {
  .additional-products-catalog__wrapper {
    padding: 0 110px 0 110px;
    margin: 0 auto 0 auto;
  }
}

.additional-products-catalog__heading {
  margin: 25px 0 36px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}
@media (min-width: 768px) {
  .additional-products-catalog__heading {
    margin: 0 0 80px 40px;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
  }
}
@media (min-width: 1440px) {
  .additional-products-catalog__heading {
    margin: 0 0 80px 0;
  }
}

@media (min-width: 1440px) {
  .additional-products-catalog__content-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.additional-products-catalog__list {
  margin: 0 0 35px 0;
}
@media (min-width: 768px) {
  .additional-products-catalog__list {
    margin: 0 0 70px 0;
  }
}
@media (min-width: 1440px) {
  .additional-products-catalog__list {
    margin: 0;
  }
}

.additional-products-list {
  padding: 0;
  list-style-type: none;
}

.additional-product {
  padding: 13px 0 19px 0;
  position: relative;
}
.additional-product::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: #ebebeb;
}
.additional-product:first-of-type::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: #ebebeb;
}
@media (min-width: 768px) {
  .additional-product {
    padding: 26px 38px 28px 38px;
  }
}
@media (min-width: 1440px) {
  .additional-product {
    padding: 15px 0 17px 0;
    display: flex;
  }
}

@media (min-width: 768px) {
  .additional-product__description {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .additional-product__description {
    padding: 10px 0 0 0;
    justify-content: flex-start;
  }
}

.additional-product__link {
  display: inline-block;
  margin: 0 0 13px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
}
@media (min-width: 768px) {
  .additional-product__link {
    width: 100%;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .additional-product__link {
    margin: 0 80px 0 0;
    width: 245px;
  }
}

.additional-product__data-sheet {
  margin: 0 0 15px 0;
  width: 100%;
}
@media (min-width: 1440px) {
  .additional-product__data-sheet {
    margin: 0;
    width: auto;
  }
}

.additional-product__data-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 768px) {
  .additional-product__data-row {
    justify-content: flex-end;
  }
}
@media (min-width: 1440px) {
  .additional-product__data-row {
    justify-content: flex-start;
  }
}

.additional-product__data {
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}
@media (min-width: 768px) {
  .additional-product__data {
    min-width: 90px;
    text-align: end;
  }
}
@media (min-width: 1440px) {
  .additional-product__data {
    margin: 0 10px 0 0;
    min-width: unset;
    width: 70px;
    text-align: start;
  }
  .additional-product__data:first-of-type {
    margin: 0 15px 0 0;
    width: 230px;
  }
}

.additional-products-catalog__special-offer {
  margin: 0 0 35px 0;
}

@media (min-width: 1440px) {
  .additional-product__button {
    min-width: unset;
    width: 245px;
  }
}

.special-offer {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(104, 183, 56, 0.85);
}

.special-offer__description {
  margin: 0;
  padding: 187px 61px 43px 58px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  position: relative;
}
.special-offer__description::before {
  content: "";
  position: absolute;
  top: 59px;
  left: 50%;
  transform: translateX(-50%);
  width: 78px;
  height: 80px;
  background-image: url("../../img/svg/icon-gift.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .special-offer__description {
    padding: 71px 125px 69px 421px;
    text-align: left;
  }
  .special-offer__description::before {
    top: 50%;
    left: 77px;
    transform: translateY(-50%);
  }
}
@media (min-width: 1440px) {
  .special-offer__description {
    padding: 185px 42px 43px 42px;
    text-align: center;
  }
  .special-offer__description::before {
    top: 56px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.program-selection__wrapper {
  padding: 0 20px 0 20px;
  margin: 0 auto;
}

.program-selection__heading {
  margin: 27px 0 37px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.program-selection__description {
  margin: 0 0 29px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.application-form__button {
  margin: 0 0 21px 0;
  border: none;
}

.application-form__note {
  margin: 0 0 32px 0;
  line-height: 16px;
  color: #000000;
  text-align: center;
}

.cat-data {
  padding: 10px 0 24px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  border: none;
}

.cat-data__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  display: flex;
}
.cat-data__input span {
  margin: 0 13px 0 0;
  padding: 13px 0 0 0;
  width: max-content;
}
.cat-data__input input {
  padding: 0 15px 0 15px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  width: auto;
  height: 45px;
  flex-grow: 1;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
}

.available-programs {
  padding: 22px 0 19px 0;
  margin: 0;
  border: none;
}

.available-programs__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  list-style-type: none;
}

.available-programs__item {
  position: relative;
}

.available-programs__description-wrapper {
  cursor: pointer;
}

.available-programs__description {
  display: inline-block;
  padding: 6px 0 6px 45px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.available-programs__decoration {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: solid 1px #cdcdcd;
  border-radius: 50%;
  box-sizing: border-box;
}

.available-programs__input:checked ~ .available-programs__decoration::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background-color: #68b738;
  border-radius: 50%;
  box-sizing: border-box;
}

.client-contacts {
  padding: 26px 0 12px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  border: none;
}

.client-contacts__heading {
  margin: 0 0 35px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.client-contacts__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  display: flex;
}
.client-contacts__input span {
  margin: 0 13px 0 0;
  padding: 13px 0 0 0;
  width: max-content;
}
.client-contacts__input input {
  padding: 0 15px 0 15px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  width: auto;
  height: 45px;
  flex-grow: 1;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
}

.comment {
  padding: 12px 0 12px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  border: none;
}

.comment__heading {
  margin: 0 0 38px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.comment__input {
  padding: 14px 15px 14px 15px;
  width: 100%;
  height: 150px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  resize: none;
}
.comment__input::placeholder {
  color: #444444;
  opacity: 1;
}

.program-addons {
  padding: 11px 0 34px 0;
  margin: 0;
  border: none;
}

.program-addons__heading {
  margin: 0 0 35px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.program-addons__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  list-style-type: none;
}

.program-addons__item {
  position: relative;
}

.program-addons__description-wrapper {
  cursor: pointer;
}

.program-addons__description {
  display: inline-block;
  padding: 6px 0 6px 45px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.program-addons__decoration {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: solid 1px #cdcdcd;
  box-sizing: border-box;
}

.program-addons__input:checked ~ .program-addons__decoration::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  background-image: url("../../img/svg/tick.svg");
  background-repeat: no-repeat;
  box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */