// COLORS

$white: #ffffff;
$basic-green: #68b738;
$basic-green-darker: #5eaa2f;
$basic-grey: #f2f2f2;
$special-grey: #cdcdcd;
$special-grey-lighter: #ebebeb;
$special-grey-darker: #666666;
$special-dark-grey: #444444;
$special-dark-grey-darker: #222222;
$status-error: #ff8282;


// VIEWPORTS

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
